@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,900&family=Qwitcher+Grypen:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: url(./img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  z-index: -1;

}
.list {
  display: flex;
  list-style: none;
  gap: 10px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 700;
  margin-left: 2.5rem;
}
#check {
    display: none;
}
.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
/* BREAKPOINT */
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }
  #check:checked~.icons #menu-icon {
     display: none;  
}
  .icons #close-icon {
    display: none;
  }
  #check:checked~.icons #close-icon {
    display: block;  
}
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);  
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    transition: .3s ease;
}
  .navbar .list {
    flex-direction: column;

    
  }
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
   transform: translateY(-20px);
    transition: .3s ease;
  }
}
#check:checked~.navbar {
   height: 0;
}
#check:checked~.navbar a {
   transform: translate(0);
   transition-delay: calc(.15s * var(--i));
}